*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto';
}

.flex-container {
    display: flex;
    align-items: center;
}

.dark-background {
    background-color: #1F2937;
    color: white;
}

/* HEADER (NAV) */

nav a {
    text-decoration: none;
    color: white;
}

nav.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 12%;
}

nav .container {
    display: flex;
    gap: 24px;
}

nav .hero-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO */

.main {
    padding: 8% 12%;
    gap: 30px;
    align-items: stretch;
}

.main h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 48px;
}

.main .text {
    flex: 1;
}

.main .text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 6px 24px;
    margin: 8px 0;
    border: 0;
    border-radius: 6px;
}

.main p {
    padding: 4px 0;
}

.main .image-placeholder {
    display: flex;
    flex: 1;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

/* INFORMATION */
.info {
    padding: 4% 12% 8%;
}

.info .flex-container {
    gap: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.info h2 {
    text-align: center;
    padding-bottom: 6%;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-item {
    width: 150px;
}

.info-img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

/* TESTIMONIAL */

.testimonial {
    padding: 10% 24%;
    background-color: #E5E7EB;
    flex-direction: column;
    font-size: 30px;
    color: #1F2937;
    font-weight: 300;
}

.testimonial h3 {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 24px;
}


/* CALL TO ACTION */
.action {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 8% 12%;
    padding: 4% 10%;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    border-radius: 12px;
    justify-content: space-between;
    line-height: 24px;
    gap: 20px;
}

.action button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 6px 24px;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}

/* FOOTER */